ui_*.*
*.Debug
*.Release
Makefile.*
object_script.analyser.Debug
object_script.analyser.Release
moc_*.*
*.exe
*.o
release/
.qtcreator/
.qtc_clangd/
.claude/
*.pro.user
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/build.ninja
/.ninja_*
/analyser
/rdb_false_tracks_check
